<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-full grid place-items-center">
    <div id="app">
        <section v-show="inProcessAssignments.length">
            <h2 class="font-bold mb-2">Assignments</h2>
            <ul>
                <li v-for="assignment in assignments.filter(a=>!a.complete)" :key="assignment.id">
                    <label>{{assignment.name}}</label>
                    <input type="checkbox" v-model="assignment.complete">
                </li>
            </ul>
        </section>
        <section v-show="completedAssignments.length">
            <h2 class=" font-bold mb-2">Complete</h2>
            <ul>
                <li v-for="assignment in assignments.filter(a=>a.complete)" :key="assignment.id">
                    <label>{{assignment.name}}</label>
                    <input type="checkbox" v-model="assignment.complete">
                </li>
            </ul>
        </section>
    </div>
    <script>
        let app = {
            data() {
                return {
                    assignments: [
                        { name: 'create', complete: false, id: 1 },
                        { name: 'read', complete: false, id: 2 },
                        { name: 'update', complete: false, id: 3 },
                        { name: 'delete', complete: false, id: 4 },

                    ]
                }
            },

            computed: {
                inProcessAssignments() {
                    return this.assignments.filter(a => !a.complete);
                },

                completedAssignments() {
                    return this.assignments.filter(a => a.complete);
                }
            },
        }
        Vue.createApp(app).mount('#app');
    </script>
</body>

</html>